.btn {
  text-decoration: none;
}

.btn--primary {
  background-color: red;
  border: 1px solid $uc--warning;
  padding: 8px 16px;
  border-radius: 4px;
  color: $nc--00;
  transition: $tr--s;
  &:hover {
    background-color: $uc--caution;
    color: white;
  }
}
