.dropdown__close {
  color: #9E9E9E;
  padding: 16px 0 16px 16px;
  font-size: 16px;
  border: none;
  background-color: white !important;
  cursor: pointer;
  border-radius: 8px ;
}

.dropdown__select__class {
  position: relative;
  display: inline-block;
  box-sizing: content-box;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
  width: 90px;
  border-radius: 8px ;
}

.dropdown__content {
  visibility: hidden;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 90px;
  z-index: 1;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.07);
}

.dropdown__content a {
  background-color: white;
  color: #9E9E9E;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

    &:hover {
      background-color: #f9f9f9;
    }
  }
}

.dropdown__select__class:hover .dropdown__content {
  visibility: visible;
}

.dropdown__select__class:hover .dropdown__close {
  background-color: #f9f9f9;
}

i {
  border: solid #9E9E9E;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
  position: absolute;
  top: 19px;
  right: 10px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
