<div class="contact--block--1">
  {{>molecules-prochains}}
</div>

<div class="contact--block--2">
  <p> <strong>Ne soyez pas timide</strong> </p>
  <p>Questions, commentaires, demandes ? L’équipe Design Systems Meet-up est à votre entière disposition. Alors renseignez votre nom, votre adresse mail et c’est parti...</p>
  {{>atoms-icone--paper}}
</div>

<div class="contact--block--3">
  <p>Nom</p>
  {{>atoms-input}}
  <p>Email</p>
  {{>atoms-input}}
  <p>votre message</p>
  {{>atoms-textarea}}
  {{>atoms-button--primary}}
</div>
