<nav class="nav__container">
  <ul>
    <li><a href="#evenements">Évènements</a></li>
    <li><a id="compte-rendu" href="#compte-rendu">Compte rendu</a></li>
    <li><a id="ressources" href="#ressources">Ressources</a></li>
    <li><a id="apropos" href="#apropos">À propos</a></li>
    <li><a  id="contact" href="#contact">Contact</a></li>
  </ul>
</nav>
