<nav class="nav__container">
  <ul>
    <li><a href="#evenements">Évènements</a></li>
    <li><a href="#compte-rendu">Compte rendu</a></li>
    <li><a href="#ressources">Ressources</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>
</nav>
