<nav class="nav_container">
  <ul>
    <li><a href="#Évènements">Évènements</a></li>
    <li><a href="#Compte rendu">Compte rendu</a></li>
    <li><a href="#Ressources">Ressources</a></li>
    <li><a href="#Contact">A propod</a></li>
    <li><a href="#Contact">Contact</a></li>
  </ul>
</nav>
