<div class="{{dropdown_select_class}}">
  <button class="dropdown_close">{{dropdown_option1_value}} {{dropdown_option1_content}} </button>
  <i class="arrow down"></i>
  <div class="dropdown_content">
  <a href="#">{{dropdown_option2_value}} {{dropdown_option2_content}} </a>
  <a href="#">{{dropdown_option3_value}} {{dropdown_option3_content}} </a>
  <a href="#">{{dropdown_option4_value}} {{dropdown_option4_content}} </a>
  </div>

</div>
