<div class="{{dropdown__select__class}}">
  <button class="dropdown_close">{{dropdown__option1__value}} {{dropdown__option1__content}} </button>
  <i class="down"></i>
  <div class="dropdown_content">
  <a href="#">{{dropdown__option2__value}} {{dropdown__option2__content}} </a>
  <a href="#">{{dropdown__option3__value}} {{dropdown__option3__content}} </a>
  <a href="#">{{dropdown__option4__value}} {{dropdown__option4__content}} </a>
  </div>

</div>
