{{#footer}}

<div class="subfooter">
  <div class="inner">

  <div class="">
    {{>atoms-logo--css}}
    {{>atoms-paragraphe}}
    
    <ul>
      <li><a href="#contacter">Nous contacter</a></li>
      <li><a href="#mentions_legale">Mentions légales</a></li>
    </ul>
  </div>

  <hr>

  <div class="">
    {{>atoms-icone--fb}}
    {{>atoms-icone--twitter}}
    {{>atoms-icone--link}}
    {{>atoms-icone--youtube}}
  </div>
</div>

  </div>
{{/footer}}
