{{#loopiconefb}}
  {{>atoms-icone--fb}}
{{/loopiconefb}}

{{#loopiconetwitter}}
  {{>atoms-icone--twitter}}
{{/loopiconetwitter}}


{{#loopiconelink}}
  {{>atoms-icone--link}}
{{/loopiconelink}}


{{#loopiconeslack}}
  {{>atoms-icone--slack}}
{{/loopiconeslack}}


{{#loopiconesearch}}
  {{>atoms-icone--search}}
{{/loopiconesearch}}
