{{#loopiconefb}}
  {{>atoms-icone--fb}}
{{/loopiconefb}}

{{#loopiconetwitter}}
  {{>atoms-icone--twitter}}
{{/loopiconetwitter}}


{{#loopiconelink}}
  {{>atoms-icone--link}}
{{/loopiconelink}}


{{#loopiconeslack}}
  {{>atoms-icone--slack}}
{{/loopiconeslack}}

{{#loopiconeyoutube}}
  {{>atoms-icone--youtube}}
{{/loopiconeyoutube}}

{{#loopiconesearch}}
  {{>atoms-icone--search}}
{{/loopiconesearch}}


{{#loopiconeshare}}
  {{>atoms-icone--share}}
{{/loopiconeshare}}

{{#loopiconepaper}}
  {{>atoms-icone--paper}}
{{/loopiconepaper}}
