// VARIABLES

/////// COLORS //////
// Main colors
$mc--med: blue;

// Accent colors


// Neutral colors
$nc--00: #ffffff;
$nc--50: grey;
$nc--100: #000000;

// Utility colors
$uc--positive: #0C2047;
$uc--caution: #18B2E3;
$uc--warning: #28E1ED;
$uc--red: #FF2E53;
$uc--gris : #C4C4C4;
$uc--grisal :#8F8F8F;

/////// SPACING ///////

/////// BORDER-RADIUS ///////

/////// BOX SHADOWS ///////

/////// CONTAINERS ///////

/////// TRANSITIONS ///////
$tr--s: all .3s ease;
