// VARIABLES

/////// COLORS //////
// Main colors
$mc--med: blue;

// Accent colors
$ac--1: pink;
$ac--2: cornflowerblue;

// Neutral colors
$nc--00: #ffffff;
$nc--50: grey;
$nc--100: #000000;

// Utility colors
$uc--positive: #0C2047;
$uc--caution: #18B2E3;
$uc--warning: #28E1ED;
$uc--red: #FF2E53;


/////// SPACING ///////

/////// BORDER-RADIUS ///////

/////// BOX SHADOWS ///////

/////// CONTAINERS ///////

/////// TRANSITIONS ///////
$tr--s: all .3s ease;
