{{#footer}}
  <div class="">
    {{>atoms-logo--css}}
    {{>atoms-paragraphe}}
    <nav>
    <ul>
      <li><a href="#contacter">Nous contacter</a></li>
      <li><a href="#mentions_legale">entions légales</a></li>
    </ul>
  </nav>
  </div>

  <hr>

  <div class="">
    {{>atoms-icone--fb}}
    {{>atoms-icone--twitter}}
    {{>atoms-icone--link}}
    {{>atoms-icone--youtube}}
  </div>
{{/footer}}
