<div class="">

  {{#loopprochains}}
  <div class="">
    {{>molecules-prochains}}
  </div>
  {{/loopprochains}}

  <div class="event_p">
    {{#loopevent_cart1}}
    <div class="wrapper">

      <div class="event">

        <img src="../../../images/image1.jpg" alt="image de travail" class="img_work">

        <div class="contenaire">

          <div class="titre">
            <p> <strong>Conférence Design Systems</strong></p>
          </div>

          <div class="heure">
            <p>De 18:00 à 20:00</p>
            <p class="date"><span class="date_month">NOVEMBRE</span> <span class="date_day">21</span> <span
              class="date-years">2019</span></p>
            </div>

            <div class="description">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
            </div>

            <div class="intervenant">

              <div class="inter_titre">
                <p>INTERVENANTS</p>
              </div>

              <div class="inter_fiche">

                <div class="dot">
                  <img src="" alt="intervants picturs" width="200px">
                </div>

                <div class="inter_texte">
                  <p class="inter_texte_nom">Jean Michel Patos</p>
                  <p>Jeanmich.fr</p>
                  <p>@jeanmich</p>

                </div>

              </div>

            </div>

          </div>
        </div>


      </div>

      {{/loopevent_cart1}}

      {{#loopevent_cart2}}
      <div class="wrapper">

        <div class="event">

          <img src="../../../images/image1.jpg" alt="image de travail" class="img_work">

          <div class="contenaire">

            <div class="titre">
              <p> <strong>Conférence Design Systems</strong></p>
            </div>

            <div class="heure">
              <p>De 18:00 à 20:00</p>
              <p class="date"><span class="date_month">NOVEMBRE</span> <span class="date_day">21</span> <span
                class="date-years">2019</span></p>
              </div>

              <div class="description">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
              </div>

              <div class="intervenant">

                <div class="inter_titre">
                  <p>INTERVENANTS</p>
                </div>

                <div class="inter_fiche">

                  <div class="dot">
                    <img src="" alt="intervants picturs" width="200px">
                  </div>

                  <div class="inter_texte">
                    <p class="inter_texte_nom">Jean Michel Patos</p>
                    <p>Jeanmich.fr</p>
                    <p>@jeanmich</p>

                  </div>

                </div>

              </div>

            </div>
          </div>


        </div>

        {{/loopevent_cart2}}

        {{#loopevent_cart3}}
        <div class="wrapper">

          <div class="event">

            <img src="../../../images/image1.jpg" alt="image de travail" class="img_work">

            <div class="contenaire">

              <div class="titre">
                <p> <strong>Conférence Design Systems</strong></p>
              </div>

              <div class="heure">
                <p>De 18:00 à 20:00</p>
                <p class="date"><span class="date_month">NOVEMBRE</span> <span class="date_day">21</span> <span
                  class="date-years">2019</span></p>
                </div>

                <div class="description">
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
                </div>

                <div class="intervenant">

                  <div class="inter_titre">
                    <p>INTERVENANTS</p>
                  </div>

                  <div class="inter_fiche">

                    <div class="dot">
                      <img src="" alt="intervants picturs" width="200px">
                    </div>

                    <div class="inter_texte">
                      <p class="inter_texte_nom">Jean Michel Patos</p>
                      <p>Jeanmich.fr</p>
                      <p>@jeanmich</p>

                    </div>

                  </div>

                </div>

              </div>
            </div>


          </div>
          {{/loopevent_cart3}}

        </div>



        <div class="">
          {{>atoms-button--primary}}
        </div>

      </div>
