

<div><strong>Font-family : Palanquin</strong></div>
<div><em>Font-family : Palanquin</em></div>
<div><u>Font-family : Palanquin</u></div>
<div><mark>Font-family : Palanquin</mark></div>

<div><strong>Font-weight : Regular</strong></div>
<div><em>Font-weight : Regular</em></div>
<div><u>Font-weight : Regular</u></div>
<div><mark>Font-weight : Regular</mark></div>
