<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #FFFFFF"></span>
    <span class="sg-label">
      $nc--00 <br />
      #FFFFFF
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000"></span>
    <span class="sg-label">
      $nc--100 <br />
      #000000
    </span>
  </li>
</ul>
