<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #0C2047"></span>
    <span class="sg-label">
      $uc--positive <br />
      blue roi #0C2047
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #18B2E3"></span>
    <span class="sg-label">
      $uc--caution <br />
      bleu Céleste #18B2E3
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #28E1ED"></span>
    <span class="sg-label">
      $uc--warning <br />
      bleu Aigue-marine #28E1ED
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #D1F0F9"></span>
    <span class="sg-label">
      $uc--blue <br />
      bleu** #D1F0F9
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #FF2E53"></span>
    <span class="sg-label">
      $uc--red <br />
      rose-rouge #FF2E53
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #C4C4C4"></span>
    <span class="sg-label">
      $uc--gris <br />
      gris #C4C4C4
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #8F8F8F"></span>
    <span class="sg-label">
      $uc--grisal <br />
      gris aluminium #8F8F8F
    </span>
  </li>
</ul>
