
<div class="propos--contente">

  <div class="propos--form">
    {{>molecules-prochains}}
  </div>

  <div class="propos--content--title">

    <div class="propos--title">
      {{>atoms-title__h2}}
      {{>atoms-paragraphe}}
    </div>

    <div class="propos--image">
      {{>atoms-image}}
    </div>

    <div class="propos--title">
      <h2>Quelle est l’utilité du Design System ?</h2>
      <p> Le Design System sert de guide aux développeurs et leur permet une avancée efficace du projet. Prenons le cas de l’Atomic Design qui est une forme de Design System. Dans ce cadre là, il est possible de créer des atoms (c’est à dire des éléments) qui n’auront plu qu’à être implémentés sur le site du projet. Cela permet d’ajouter des éléments en cours de route dans le “pattern lab” (à savoir, la bibliothèque regroupant tous les éléments du projet) et de les ajouter ensuite dans le site. Le Design System permet de regrouper ces éléments et d’avoir une bibliothèque d’éléments dynamique et modulable pour chacun de vos projets.</p>

      <div class="propos--title--p">
        <p>Pour plus d’informations, retrouvez <strong>l’agenda</strong> de nos meet-up sur Bordeaux ou encore notre page <strong>Ressources !</strong> </p>
      </div>
    </div>

  </div>




</div>
