.contact--contente{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact--title{
  display: flex;
flex-direction: column;
align-items: center;

}

.contact--title h5 {
  margin-bottom: 15px;
}

.contact--title h2 {
  margin-bottom: 15px;
}

.contact--form{
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 4px 30px rgba(196, 196, 196, 0.2);
  width: 1056px;
  margin-top: 56px;
}

.contact--form--text{
  border-radius: 8px 0 0 8px ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 528px;
  min-height: 569px;
  background-color: $uc--positive;
  color: $nc--00;

}

.contact--form--text h2{
  color: $nc--00;
  font-size: 34px;
  margin-top: 136px;
}

.contact--form--text p{
  margin-top: 32px;
  font-size: 20px;
  width: 330px;
}

.contact--form--text svg{
  margin-top: 48px;
}

.contact--form--form{
  border-radius: 0px 8px 8px 0 ;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 528px;
  min-height: 569px;
  background-color: white;
  color: $uc--caution;
}

.contact--form--form--text{
margin-top: 53px;
}

.contact--form--form--text p {
  margin-top: 16px;
  font-size: 14px;
  text-transform: uppercase;
  color: $uc--warning;
}

.contact--form--form--text input {
  margin-top: 8px;
  width: 434px;
  min-height: 57px;
  border-color: $uc--gris;
}

.contact--form--form--text textarea {
  margin-top: 8px;
  min-height: 158px;
  border-color: $uc--gris;
}

a {
  margin-top: 24px;
}
