.mention--contente{
  width: 642px;
  margin:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mention--title p {
  padding-top: 16px;
}

.mention--title h2{
  padding-top: 8px;
}

.mention--title {
  padding-top: 56px;
}
