{{#section1foot}}
  <div class="footer__newsletter__title">
    {{>atoms-title__h3}}
  </div>

  <div class="footer__newsletter__text">
    {{>atoms-paragraphe}}
  </div>

  <div class="footer__newsletter__input">
    {{>atoms-input}}
  </div>

  <div class="footer__newsletter__button">
    {{>atoms-button--primary}}
  </div>
  </div>
{{/section1foot}}
