<div class="{{logo-class}} logo--css">
  <div class="cercle">
    <div class="cercle2"></div>

    <div class="center"></div>

    <div class="texte">
        <img src="{{logo-src}}" alt="{{logo-alt}}">
    </div>
  </div>

  <div class="sun">
      <div class="dot"></div>
  </div>
</div>
